<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.kotlin.lapki">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lapki">
        <activity android:name=".PetListActivity"/>
        <activity android:name=".PetLoseListActivity"/>
        <activity android:name=".PetShelterListActivity"/>
        <activity android:name=".ShelterListActivity"/>
        <activity android:name=".AuthorizationActivity" />
        <activity android:name=".Navigation" />
        <activity android:name=".StartActivity" />
        <activity android:name=".ShelterAccountActivity" />
        <activity android:name=".PetAccountActivity" />
        <activity android:name=".ShelterAddActivity" />
        <activity android:name=".ShelterChangeActivity" />
        <activity android:name=".PetAddActivity" />
        <activity android:name=".PetChangeActivity" />
        <activity android:name=".RequestsActivity" />
        <activity android:name=".UserModifyActivity" />
        <activity android:name=".RestoreActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".UserAccountActivity" />
        <activity android:name=".RequestslistVolActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>